html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Sistema
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	body
		block content
			.main.container
				.row
					.col-md-6.col-md-offset-3
						table.table.table-dark(border=1)
							thead.thead-dark
								tr
									th(colspan=4)
										h1.display-4.m-b-2 CRUD de Categorias 
										a(href="/createCategory") Crear Categoria
								tr
									th ID
									th Nombre
									th Subcategorias
							tbody
								for item in data
									tr
										td= item._id
										td= item.nombre
										td
											ul
												each i in item.subcategorias
													li= i.nombre			
													
										td
											form(method='POST' action='/editViewCategory')
												input(type='hidden' name='_id' value=item._id)
												input(type='submit' value='Editar') 
											form(method='POST' action='/deleteCategory')
												input(type='hidden' name='_id' value=item._id)
												input(type='submit' value='Borrar')